#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: black;
  background-image: url("../src/assets/bar2.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: large;
}

.nav li {
  margin: 10px;
  list-style-type: none;
}

.instructions {
  font-size: 1rem;
}

h1,
h3 {
  color: rgb(57, 145, 116);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.ingredients {
  font-size: 1rem;
  list-style: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.listDiv {
  display: inline-block;
  width: 130px;
  padding: 0;
  margin: 0;
}

.cocktailListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
  padding: 0;
}

.card {
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
  margin: 200px;
  border-radius: 20px;
  background-color: white;
  transition: 500ms;
  padding: 0;
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  opacity: 1;
  display: flex;
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  position: absolute;
  backface-visibility: hidden;
  height: 375px;
  width: 300px;
}

.front {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: white;
}

.card .back {
  transform: rotateY(180deg);
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.back {
  padding-top: 20px;
  overflow: scroll;
  height: 350px;
  width: 300px;
  border-radius: 15px;
}

.card .image {
  height: 294px;
  margin: 0;
  padding: 0;
  object-fit: cover;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.cocktailName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 75px;
  background-color: white;
  padding-top: 15px;
  margin-bottom: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.cocktailTitle {
  color: rgb(57, 145, 116);
}

.createCard {
  width: 40rem;
  height: 40rem;
  margin-top: 50px;
  padding: 0;
}

.createButton {
  background-color: rgb(3, 210, 210);
}

.createCocktailName {
  font-size: 24px;
  font-weight: bold;
}

.searchContainer {
  margin-top: 125px;
  color: rgb(57, 145, 116);
}

.cocktailCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 125px;
  color: rgb(57, 145, 116);
}

.createTitle {
  margin-top: 200px;
  color: rgb(57, 145, 116);
}

.myCardsTitle {
  margin-top: 100px;
  color: white;
}
